previewsEnabled: true
#previewsExpireAfterDays: 1
services:
- type: web
  name: containerz
  runtime: image
  image:
    url: docker.io/library/nginx
  plan: free
  autoDeploy: true
  buildFilter:
    ignoredPaths:
    - render.yaml
- type: web
  autoDeploy: true
  plan: free
#  pullRequestPreviewsEnabled: true
  initialDeployHook: ./dephook.sh
  name: simple-sinatra
  env: ruby
  healthCheckPath: /health
  buildCommand: ./build.sh
  startCommand: bundle exec rackup
  envVars:
    - key: PROXY_URL
      fromService:
        type: web
        name: tinyproxy
        property: host
  buildFilter:
    ignoredPaths:
    - render.yaml
- type: pserv
  name: simple-sinatra-priv
  runtime: ruby
  buildCommand: ./build.sh
  startCommand: bundle exec rackup
  #runtime: docker
  #repo: https://github.com/mmaddex/simple-sinatra
  plan: free
  region: oregon
  #dockerContext: .
  #dockerfilePath: ./Dockerfile
