previewsEnabled: true
#previewsExpireAfterDays: 1
services:
- type: web
  autoDeploy: true
  ##plan: starter plus
  initialDeployHook: ./dephook.sh
  name: simple-sinatra
  env: ruby
  healthCheckPath: /health
  buildCommand: ./build.sh
  startCommand: ./run.sh
  envVars:
    - fromGroup: auth
    envVars:
    - fromGroup: previewEnv
