#previewsEnabled: true
#previewsExpireAfterDays: 1
services:
- type: web
  autoDeploy: true
  pullRequestPreviewsEnabled: true
  initialDeployHook: ./dephook.sh
  name: simple-sinatra
  env: ruby
  healthCheckPath: /health
  buildCommand: ./build.sh
  startCommand: ./run.sh
