# Exported from Render on 2025-12-09T17:41:58Z
version: "1"
previews:
  generation: automatic
projects:
- name: Examples
  environments:
  - name: Blocked cross-env connection
    networking:
      isolation: enabled
    services:
    - type: web
      name: simple-sinatra-a3sh
      runtime: ruby
      branch: cross-env-test
      plan: standard
      envVars:
      - key: FROMANOTHER
        sync: false
      - key: stupidtest
        sync: false
      - fromGroup: my-env-group-a3sh
      - fromGroup: cloudflare
      region: oregon
      buildCommand: ./build.sh
      startCommand: bundle exec rackup
      healthCheckPath: /health
      autoDeployTrigger: "off"
